{% extends "base.html" %}
{% block title %}My Daily Budget Planner{% endblock %}

{% block content %}

   <div class="budget-layout">
    {% include "budget/_sidebar.html" %}

    <main class="budget-content">
        <div class="diary-box">
             <h2 class="text-center mb-4" style="color:#c2185b;">
                🌸 My Daily Budget Planner for {{ month_display }}
            </h2>

            {% include "budget/_filters.html" %}

           

    <form method="POST" action="/add-transaction">
        <div class="planner-book">
            <div class="planner-page">
                <div class="table-responsive">
                    {% include "budget/_transaction_table.html" %}
                
                </div>
            </div>
        </div>

        <div id="pagination"></div>

        <div class="text-center mt-4">
            <button type="submit" class="save-btn">
                <i class="bi bi-save"></i> Save
            </button>
        </div>
    </form>

</div>
</main>
</div>
{% endblock %}